.main{
    width : 100%;
    box-sizing: border-box;
}

.headerLeft{
    width: 25%;
    float: left;
    padding: 15px;
}


.headerLeft > img {
    width : 40px;
    height: 40px;
    display: inline-block;
    padding-top: 5px;
    margin-right: 10px;
}

.search-bar{
    height: 42px;
    background-color: #eeee;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 10px;
    vertical-align: bottom;
}

.search-bar > img {
    width: 26px;
    height: 26px;
    margin-right: 15px;
    display: inline-block;
}

.search-bar > input {
    width: 150px;
    height: 22px;
    background-color: #eeee;
}




.headerCenter{
    width: 55%;
    float: left;
    text-align: center;
}

.headerCenter > li{
    display: inline-block;
    padding: 15px;
    margin-top: 13px;
    margin-right: 70px;
}



.headerCenter > li > img{
    width: 27px;
    height: 25px;
}

.headerCenter > li :nth-last-child(1){
    margin-right: 0px;
}


.headerRight{
    width: 20%;
    float: right;
    text-align: right;
}

.headerRight > li{
    display: inline-block;
    padding: 15px;
    margin-top: 8px;
}

.headerRight > li > img{
    width: 30px;
    height: 30px;
}


.title-container{
    margin-bottom: 20px;
}


.profile{
    width: 30px;
    float: left;
    margin-right: 20px;
}

.profile > img{
    width: 100%;
    border-radius: 50%;
}

.title-container > p{
    display: inline-block;
<<<<<<< HEAD
    margin-top: 2px;
=======
    margin-top: 3.5px;
>>>>>>> f26ba520719f15886d555a967e7cd04c7642fb91
}

.card-footer{
    width: 480px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    border-top: 1px solid gray;
    margin: 0 auto;
    margin-top: 20px;
}

.card-footer > button {
    display: inline-block;
    text-align: center;
}

.card-footer > button > p {
    display: inline-block;
    vertical-align: middle;
}

.card-footer > button > img {
    width: 18px;
    height: 18px;
    display: inline-block;
}



.cmt-container{
    margin-bottom: 20px;
}


.cmt-profile{
    width: 30px;
    float: left;
    padding: 3px 0px 3px 0px;
    margin-right: 10px;
}

.cmt-profile > img{
    width: 100%;
    border-radius: 50%;
}



.cmt-container > p{
    display: inline-block;
    background-color: #f0f2f5;
    max-width: 390px;
    padding: 8px 12px 8px 12px;
    border-radius: 30px;
}

.cmt-btn{
    margin-right: 15px;
}

.cmt-input{
    width: 318px;
}


